snappy-tabs {
	border-width: 0;

	&::part(tab) {
		border-color: var(--surface-border);
		font-family: var(--ui-family);
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1.25px;
		display: grid;
		text-transform: uppercase;
		user-select: none;
	}

	&::part(background) {
		background: var(--primary);
		grid-area: 1/-1;
		opacity: 0;
	}
	&::part(background):hover {
		opacity: var(--hover-opacity);
	}

	&::part(background):active {
		opacity: var(--active-opacity);
	}

	&::part(panel) {
		padding: 0;
	}

	&::part(indicator) {
		background: var(--primary);
	}

	c-textrich {
		padding: 1rem;
	}
}
