:root {
	--background: #fff;
	--on-background: black;
	--primary: #512da8;
	--on-primary: white;
	--secondary: #512da8;
	--on-secondary: white;
	--surface: white;
	--on-surface: black;
	--surface-border: #e0e0e0;
	--black: black;
	--on-black: white;
	--white: white;
	--on-white: black;
	--hover-opacity: 0.1;
	--active-opacity: 0.2;
}
